.venv/
venv/
env/
__pycache__/
*.py[cod]
.idea/
.vscode/
*.egg-info/
dist/
build/

data/*
!data/README.txt

*.pth
!results/models/.gitkeep
!results/models/cnn_best.pth

.DS_Store
__MACOSX/

.ipynb_checkpoints/
*.log
